.item-tile {
  $tileWidth: 12rem;
  min-width: $tileWidth;
  max-width: $tileWidth;
  padding: 1rem;

  &-content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}